@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --color-text-base: #f8f8f2;
    --color-text-muted: #c7d2fe;
    --color-text-inverted: #4f46e5;
    --color-fill: #4338ca;
    --color-button-accent: #fff;
    --color-button-accent-hover: #eef2ff;
    --color-button-muted: #6366f1; */

    /* dark mode */
    --background-color-dark: #282a36;
    --color-text-base-dark: #f8f8f2;
    --color-button-accent-dark: #bd93f9;
    --color-button-accent-hover-dark: #ff79c6;
    --color-button-muted-dark: #a8a1b3;

    /* light mode */
    --background-color-light: #f8f8f2;
    --color-text-base-light: #282a36;
    --color-button-accent-light: #8be9fd;
    --color-button-accent-hover-light: #6272a4;
    --color-button-muted-light: #7d9296;
  }
}